{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista de Clientes</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                {#<th>Direccion</th>
                <th>Telefono</th>#}
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cliente in clientes %}
            <tr>
                <td><a href="{{ path('cliente_show', { 'id': cliente.id }) }}">{{ cliente.id }}</a></td>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.apellido }}</td>
                {#<td>{{ cliente.direccion }}</td>
                <td>{{ cliente.telefono }}</td>#}
                <td>{{ cliente.email }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cliente_show', { 'id': cliente.id }) }}">ver</a>
                        </li>
                        <li>
                            <a href="{{ path('cliente_edit', { 'id': cliente.id }) }}">editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cliente_new') }}">Create a new cliente</a>
        </li>
    </ul>
{% endblock %}
