<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <!-- Bootstrap Core CSS -->
            <link rel="stylesheet" href="{{ asset('bundles/mantafacturation/css/bootstrap/bootstrap.min.css') }}">
            {#<link rel="stylesheet" href="{{ asset('bundles/mantafacturation/api/css/api.css') }}">#}
            <link rel="stylesheet" href="{{ asset('bundles/mantafacturation/api/css/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/mantafacturation/api/css/jquery.sidr.bare.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/mantafacturation/api/css/jquery-ui.min.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
        {% endblock %}
        <!--  JavaScript -->
        <!-- jQuery -->
        <script src="{{ asset('bundles/mantafacturation/js/jquery/jquery-3.2.1.min.js') }}"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="{{ asset('bundles/mantafacturation/js/bootstrap/bootstrap.min.js') }}"></script>

        <script src="https://code.highcharts.com/highcharts.src.js"></script>

        <script src="{{ asset('bundles/mantafacturation/api/js/jquery.sidr.min.js') }}"></script>
        <script src="{{ asset('bundles/mantafacturation/api/js/jquery-1.11.3.min.js') }}"></script>
        <script src="{{ asset('bundles/mantafacturation/api/js/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('bundles/mantafacturation/api/js/api.js') }}"></script>
        {% block javascripts %}

        {% endblock %}
    </body>
</html>
