{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista de Productos</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for producto in productos %}
            <tr>
                <td><a href="{{ path('producto_show', { 'id': producto.id }) }}">{{ producto.id }}</a></td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.precio }}</td>
                <td>{{ producto.stock }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('producto_show', { 'id': producto.id }) }}">ver</a>
                        </li>
                        <li>
                            <a href="{{ path('producto_edit', { 'id': producto.id }) }}">editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
    <ul>
        <li>
            <a href="{{ path('producto_new') }}">Registrar nuevo producto</a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/mantafacturation/jsControllers/facturation.js') }}"></script>
{% endblock %}
